@font-face {
    font-family: "Roboto", sans-serif;
    src: url(fonts/Roboto_Condensed-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(fonts/Roboto_Condensed-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url(fonts/Roboto_Condensed-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Onest", sans-serif;
    src: url(fonts/Onest-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

:root {
    --light: rgba(234, 244, 250, 1);
    --white: rgba(255, 255, 255, 1);
    --op-w: rgba(255, 255, 255, 0.15);
    --blue: rgba(21, 169, 225, 1);
    --deep-blue: rgba(9, 116, 181, 1);
    --dark-blue: rgba(7, 29, 52, 1);
    --tr: .3s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

body {
    font-size: 0;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    margin: 0;
}

p {
    margin: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.title_h1 {
    font-size: 62.5px;
    font-weight: 500;
    line-height: 76.8px;
    letter-spacing: -1.92px;
}

.title_h2 {
    font-size: 38.9px;
    font-weight: 500;
    line-height: 44.8px;
    letter-spacing: -0.4px;
}

.tb {
    color: var(--blue);
}

.tw {
    color: var(--light);
}

/* Header */

.header_info {
    display: flex;
    padding-left: 46px;
    padding-right: 47px;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.head_add {
    display: flex;
    gap: 40px;
}

.head_1,
.head_2 {
    display: flex;
    align-items: center;
}

.head_1 p,
.head_2 p {
    margin: 0;
}

.head_1 {
    font-size: 11.8px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.1px;
    gap: 15px;
}

.head_2 {
    font-size: 11.1px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.2px;
    gap: 13px;
}

.head_search {
    display: flex;
    width: 100%;
    max-width: 190px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    justify-content: space-around;
    padding-left: 12px;
    padding-right: 12px;
}

.input_text {
    width: 100%;
    max-width: 129px;
    font-size: 11.6px;
    font-weight: 400;
    line-height: 14px;
    border: none;
    outline: none;
}

/* Hero */

.hero {
    position: relative;
}

.hero_img img {
    position: absolute;
    top: -5px;
    border-radius: 30px;
    width: 1600px;
    height: 855.93px;
    z-index: 1;
    object-fit: cover;
}

.left_nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 42px;
    left: 45px;
    z-index: 2;
    gap: 12px;
}

.yacht {
    display: flex;
    width: 113px;
    height: 43px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--white);
    border-radius: 500px;
    background-color: var(--deep-blue);
    align-items: center;
    text-align: center;
}

.nav_line {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 500px;
    background-color: var(--op-w);
    width: 440px;
    height: 43px;
    padding: 0;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}

.nav_item {
    list-style: none;
    z-index: 5;
}

.nav_link {
    text-decoration: none;
    color: var(--white);
    font-size: 14.6px;
    font-weight: 400;
    line-height: 17px;
    z-index: 5;
}

.right_menu {
    display: flex;
    position: absolute;
    gap: 12px;
    top: 45px;
    right: 49px;
    width: 215px;
    height: 30px;
    border-radius: 500px;
    background-color: var(--deep-blue);
    z-index: 2;
    padding: 6px 12px;
}

.bid {
    font-family: "Onest", sans-serif;
    font-weight: 600;
    font-size: 10px;
    width: 177px;
    height: 28px;
    border-radius: 30px;
    background-color: var(--blue);
    border: none;
    outline: none;
    text-align: center;
    color: var(--white);
}

.hero_title {
    font-family: "Onest", sans-serif;
    font-weight: 600;
    font-size: 44px;
    width: 867px;
    height: 120px;
    display: flex;
    position: absolute;
    z-index: 2;
    top: 192px;
    left: 45px;
    color: var(--white);
    letter-spacing: -2.8px;
    line-height: 0.9;
    margin-bottom: 18px;
}

.hero_text {
    font-family: "Onest", sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 389px;
    height: 51px;
    display: flex;
    position: absolute;
    z-index: 2;
    top: 329px;
    left: 45px;
    color: var(--white);
    letter-spacing: 0.2px;
}

.hero_info {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 223px;
    height: 114px;
    left: 45px;
    top: 563px;
    border-radius: 25px;
    background-color: var(--deep-blue);
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.info_but_wh,
.info_but_blue {
    display: flex;
    width: 190px;
    height: 48px;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 5px;
}

.info_but_wh {
    background-color: var(--white);
}

.info_but_blue {
    background-color: var(--blue);
}

.but_wh_text,
.but_blue_text {
    font-size: 12.2px;
    font-weight: 400;
    line-height: 100%;
}

.but_wh_text {
    color: var(--dark-blue);
    letter-spacing: 0.3px;
}

.but_blue_text {
    color: var(--white);
    letter-spacing: 0.3px;
}

.hero_cards {
    display: flex;
    width: 550px;
    height: 100%;
    position: absolute;
    z-index: 2;
    right: 46px;
    top: 460px;
    gap: 14px;
}

.card {
    border-radius: 20px;
    backdrop-filter: blur(80px);
}

.hc_1,
.hc_3 {
    display: flex;
    flex-direction: column;
    width: 155px;
    height: 168px;
    padding: 24px 19px;
    justify-content: space-between;
}

.hc_2 {
    display: flex;
    flex-direction: column;
    width: 212px;
    height: 168px;
    padding: 24px 19px;
    justify-content: space-between;
}

.card_photo {
    display: flex;
}

.c3000 {
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: -1.6px;
    color: var(--white);
    margin: 0;
}

.card_1_text {
    font-size: 13.3px;
    font-weight: 400;
    line-height: 15.96px;
    color: var(--white);
}

.card_3_text {
    font-size: 13.6px;
    font-weight: 400;
    line-height: 15.96px;
    color: var(--white);
}

.hc_2_title {
    font-size: 37px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: -1.6px;
    color: var(--white);
    margin: 0;
}

.hc_2_text {
    font-size: 13.1px;
    font-weight: 400;
    line-height: 15.96px;
    color: var(--white);
}

.hc_2_text_2 {
    font-size: 13.8px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    color: var(--white);
}