@media (max-width: 1440px) {

    .modal-menu__content {
        box-sizing: border-box;
        padding: 0 15px;
        margin-top: 5.5vh;
        min-height: 94.5vh;
    }
}

@media (max-width: 1200px) {

    .why {
        height: 1236px;
        margin-top: 100px;
    }

    .why_cards  {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
    }

    .why_1,
    .why_2,
    .why_3 {
        grid-row: 1 / 2;
        grid-column: span 1;
        padding: 20px;
        box-sizing: border-box;
    }

    .why_4 {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        padding: 20px;
        box-sizing: border-box;
        margin: 0 auto;
    }

    .slider-track {
        gap: 20px;
    }
}

@media (max-width: 1024px) {

    .carousel-container {
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .carousel-item {
        width: calc(33.333% - 15px);
        margin: 0 7.5px;
    }

    .header_info {
        padding-left: 25px;
        padding-right: 25px;
    }
    .hero {
        height: 700px;
        gap: 25px;
        margin-bottom: 120px;
    }

    .head_mid_add {
        display: none;
    }

    .hero_cards {
        gap: 10px;
    }

    .nav_menu {
        margin-left: 25px;
        margin-right: 25px;
    }

    .nav_line {
        display: none;
    }

    .hero_line2 {
        margin-left: 25px;
    }

    .hero_title {
        letter-spacing: -4px;
    }

    .hero_line_3 {
        margin-top: 55px;
        max-width: 920px;
    }

    .hero_text {
        font-size: 14px;
        max-width: 338px;
    }

    .white_cub {
        display: none;
    }

    .cub_title {
        margin-bottom: 31px;
    }

    .cub_title h2 {
        margin: 0;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: -0.4px;
        max-width: 650px;
    }

    .service_line_1 {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 0;
    }

    .service_item_1,
    .service_item_2 {
        height: 336px;
    }

    .service_item_2 {
        background-position: 0 80%;
    }

    .service_item_3 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        height: 320px;
    }

    .service_text h3 {
        max-width: 675px;
    }

    :is(.service_item_1, .service_item_2, .service_item_3, .service_line_2_left, .service_line_2_right_top, .service_line_2_right_bottom):hover {
        .arrow-icon {
            transform: rotate(45deg);
        }
        transform: scale(1.03);
        transition: var(--smooth-tr);
    }

    .service_line_2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }
    .service_line_2_right {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .service_line_2_left {
        width: 100%;
        height: 320px;
    }

    .service_line_2_right_top,
    .service_line_2_right_bottom {
        height: 336px;
    }

    .cater_banner,
    .tech_cater_banner {
        flex-direction: column;
    }

    .cater_right {
        height: 500px;
        width: auto;
        margin-top: -30px;
    }

    .cater_left {
        justify-content: flex-end;
        border-radius: 20px;
        height: 550px;
    }

    .cater_line_2 p {
        max-width: 540px;
        br {
            display: none;
        }
    }

    .cater_title {
        max-width: 475px;
    }

    .tech_cater_right {
        justify-content: flex-end;
        border-radius: 20px;
        height: 550px;
        background-position: 0 115%;
    }

    .tech_cater_left {
        height: 500px;
        width: auto;
        margin-top: -30px;
        margin-right: 0;
    }

    .cub_title_swiper {
        flex-direction: column;
    }

    .ad_1024 {
        font-size: 15px;
        font-weight: 400;
        opacity: 0.5;
    }

    .cont_info {
        flex-direction: column;
    }

    .modal-menu__info {
        width: 100%;
    }

    .modal-menu__contacts {
        width: 40%;
        height: 300px;
    }

    .modal-menu__services {
        width: 55%;
    }

    .modal-menu {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .contacts {
        gap: 0;
    }

    .footer {
        height: 570px;
    }

    .slider-track {
        gap: 15px;
    }

    .description_info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .description_bottom_text {
        font-size: 20px;
        padding-left: 20px;
    }

    .quality {
        margin-bottom: 100px;
    }

    .quality_left h2 {
        margin-top: 30px;
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: -0.4px;
        color: var(--deep-blue);
    }

    .quality_text {
        max-width: 455px;
    }

    .quality_right_1,
    .quality_right_2,
    .quality_right_3 {
        height: 410px;
    }

    .quality_blur {
        max-width: 343px;
    }

    .card_our {
        margin: 0 5px;
        flex: 0 0 calc(50% - 15px);
        min-width: calc(50% - 15px);
    }

    .our_text {
        width: 100%;
        max-width: 335px;
    }

    .br_hid {
        display: block;
    }
    .br_no_hid {
        display: none;
    }

    .our,
    .tech {
        height: 370px;
    }

    .our {
        background-position: 75% 0;
    }

    .about {
        height: 370px;
    }

    .about_line_2_text h2 {
        font-size: 48px;
        line-height: 43px;
    }

    .cont_inf_text {
        max-width: 270px;
    }

    .cont_us {
        height: 370px;
    }

    .c3000 {
        font-size: 30px;
    }

    .service_line_2_right_top {
        background-position: 50%;
    }
}

@media (max-width: 768px) {

    .hero {
        margin-bottom: 100px;
    }

    .hero_cards {
        gap: 5px;
    }

    .c3000 {
        font-size: 20px;
    }

    .hc_1,
    .hc_3 {
        width: 98px;
        height: 141px;
    }

    .hc_2 {
        max-width: 145px;
        height: 141px;
    }

    .hc_2_title {
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: -1.6px;
    }

    .hc_2_text {
        font-size: 12px;
        font-weight: 400;
        line-height: 15.96px;
    }

    .hero_line2 {
        margin-top: -20px;
    }
    .hero_line_3 {
        padding-inline: 25px;
        gap: 20px;
        align-items: flex-end;
        margin-top: 115px;
    }

    .hero_info {
        margin-top: 0;
        width: 300px;
    }

    .info_but_wh,
    .info_but_blue {
        width: 100%;
        max-width: 175px;
    }

    .hero_title {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -2.5px;
        font-weight: 500;
    }

    .hero_text {
        font-size: 12px;
        letter-spacing: 0;
        max-width: 305px;
    }


    .carousel-item {
        width: calc(50% - 10px);
        margin: 0 5px;
        font-size: 20px;.carousel-container
    }

    .section-title {
        font-size: 2rem;
    }

    .slider-controls {
        margin-bottom: 20px;
    }

    .slider-btn {
        width: 50px;
        height: 50px;
    }

    .card-content {
        padding: 25px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        font-size: 1.2rem;
    }

    .advantages-section {
        padding: 50px 0;
        margin: 50px 0;
    }

    .advantages-section .title_h2 {
        font-size: 28px;
        line-height: 1.3;
    }

    .advantages-list li {
        font-size: 14px;
        padding-left: 30px;
    }

    .btn-up {
        right: 40px;
        bottom: 20px;
        width: 40px;
        height: 40px;
        background-size: 20px;
    }

    .yacht {
        max-width: 130px;
        padding-inline: 12px;
        font-size: 10px;
        height: 30px;
    }

    .slider-track {
        gap: 10px;
        padding: 10px 0;
    }

    .card_our {
        margin: 0 5px;
    }


    .right_menu {
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
        gap: 10px;
        align-items: center;
        flex-direction: row-reverse;
    }

    .right_menu .burger_btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--deep-blue);
        border: none;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .right_menu .burger_btn img {
        width: 24px;
        height: 24px;
    }

    /* Стили для кнопки "Оставить заявку" */
    .right_menu .bid {
        width: 155px;
        padding: 0 15px;
        height: 30px;
        border: 1px solid var(--white);
        border-radius: 20px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        white-space: nowrap;
    }

    /* Анимация при наведении на кнопку */
    .right_menu .bid:hover {
        opacity: 0.9;
        transform: translateY(-1px);
        background-color: var(--deep-blue);
        border: none;
        transition: var(--tr) ease;
    }
    .right_menu .burger_btn img {
        height: 44px;
        width: 44px;
    }

    .right_menu .burger_btn {
        background: transparent;
    }

    .cub_title h2 {
        font-size: 26px;
        max-width: 562px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.4px;
    }

    .service_text h3,
    .service_line_2_right_top h3,
    .service_line_2_right_bottom h3{
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.36px;
    }

    .service_line_2_right_top {
        background-position: 50%;
    }

    .services_container {
        margin-bottom: 100px;
    }

    .cub_title_2 {
        max-width: 397px;
    }

    .cub_title_2 h2,
    .cub_title_swiper h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
    }

    .cub_title_swiper h2 {
        max-width: 595px;
    }

    .section-header h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 44.8px;
    }

    .user-info h3 {
        font-size: 20px;
        line-height: 133.34%;
    }

    .contacts_left h2 {
        font-size: 26px;
        font-weight: 500;
        line-height: 117%;
    }

    .contacts_left,
    .contacts_right {
        height: auto;
    }

    .cont_info a,
    .cont_info span {
        font-size: 24px;
    }

    .contacts {
        height: 382px;
    }

    .foot_info h3 {
        font-size: 26px;
        font-weight: 500;
        line-height: 30px;
    }

    .polit,
    .foot,
    .foot_ps {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    .footer {
        background-position: 75% 0;
    }


    .carousel-container {
        padding-bottom: 20px; /* Добавляем отступ снизу для лучшего UX */
    }

}

@media (max-width: 480px) {
    .carousel-item {
        width: calc(100% - 10px);
        font-size: 16px;
        margin: 0 5px;
    }

    .carousel-controls {
        justify-content: center;
    }

    .section-title {
        font-size: 1.8rem;
    }

    .reviews-section {
        padding: 20px 0;
    }

    .slider-controls {
        gap: 15px;
    }

    .head_search {
        display: none;
    }

    .nav_menu {
        margin: 40px 10px 0 10px;
        height: auto;
    }

    .right_menu .bid {
        display: none;
    }

    .hero_line2 {
        margin-left: 10px;
    }

    .hero_line_3 {
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: start;
    }

    .hero_info {
        background-color: transparent;
        align-items: normal;
        margin-left: 10px;
    }

    .hero_info .info_but_blue {
        display: none;
    }

    .hero {
        justify-content: space-between;
        margin-bottom: 80px;
    }

    .cub_title p {
        margin: 0 auto;
    }

    .service_line_1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .service_line_2_right {
        flex-direction: column;
    }

    .cater_left {
        height: 396px;
    }

    .cater_line_1_img {
        display: none;
    }

    .cater_title h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        padding-left: 20px;
    }

    .cater_banner {
        margin-bottom: 100px;
    }

    .cub_title_swiper h2 {
        font-size: 20px;
        line-height: 26px;
        max-width: 425px;
    }

    .contacts {
        flex-direction: column;
        height: auto;
        margin-bottom: 80px;
    }

    .contacts_left {
        width: auto;
        height: 407px;
    }

    .contacts_right {
        width: auto;
        height: 364px;
    }

    .footer {
        height: auto;
    }

    .foot_index {
        flex-direction: column;
    }

    .foot_item_1,
    .foot_item_2 {
        width: auto;
    }

    .foot_blur {
        height: 436px;
        justify-content: space-between;
    }



}